Click==7.0
dukpy==0.2.2
Flask==0.12.4
future==0.17.1
itsdangerous==1.1.0
javascripthon==0.10
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.1.0
Pillow==5.4.1
pip==18.1
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
setuptools==40.6.3
SQLAlchemy==1.2.16
Werkzeug==0.14.1
xlrd==1.2.0
